:root {
  --white: white;
  --light-grey: #7a7373;
  --dark-grey: #5b5d5f;
  --black: #000000;
  --red: #ff0000;
  --blue: #0000ff;
  --green: #00ff00;
  --orange: #ff7f00;
  --grey: #a9a9a9;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#calculator {
  display: grid;
  grid-template-areas: "display display display display" "clear negative percent divide" "seven eight nine multiply" "four five six subtract" "one two three add" "decimal zero equals equals";
  grid-template-columns: 100px 100px 100px 100px;
  gap: 5px;
  padding: 30px;
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--black);
  border-width: 5px;
  border-color: #7a7373;
  box-shadow: 0 1px 3px 6px;
  -webkit-box-shadow: 0 1px 3px 6px;
  -moz-box-shadow: 0 1px 3px 6px;
  -ms-box-shadow: 0 1px 3px 6px;
  -o-box-shadow: 0 0 3px 6px;
}

.light-grey {
  background: var(--light-grey);
}

.dark-grey {
  background: var(--dark-grey);
}

.orange {
  background: var(--orange);
}

.green {
  background: var(--green);
}

button {
  height: 60px;
  font-size: 36px;
  color: #e9e7f4;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: transform 0.1s ease-in-out;
  -webkit-transition: transform 0.1s ease-in-out;
  -moz-transition: transform 0.1s ease-in-out;
  -ms-transition: transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  box-shadow: 0 1px 3px 6px;
}

button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

#answer {
  font-size: 55px;
  height: 85px;
  width: 100%;
  border-style: solid;
  border-color: #7a7373;
  border-width: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#expression {
  font-size: 30px;
  height: 50px;
  color: var(--green);
}
#display {
  grid-area: display;
}
#clear {
  grid-area: clear;
}

#negative {
  grid-area: negative;
}
#percent {
  grid-area: percent;
}

#divide {
  grid-area: divide;
}

#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#multiply {
  grid-area: multiply;
}

#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}

#subtract {
  grid-area: subtract;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#add {
  grid-area: add;
}

#zero {
  grid-area: zero;
}
#equals {
  grid-area: equals;
}

.author {
  font-size: 20px;
  color: var(--grey);
  margin-top: 10px;
}
